/* -----------------------
    *** Google Fonts *** 
-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Open+Sans:ital,wght@0,400;1,800&family=Poppins:ital,wght@0,200;0,300;0,600;1,300;1,400;1,500&family=Ubuntu:wght@300;400;500;700&display=swap');

/* -----------------------
    *** Global Styles *** 
-------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


main,
footer {
    background: #FFF;
}

main,
.navigation,
.banner-container,
footer {
    max-width: 1140px;
    margin: 0 auto;

}

.header,
.footer {
    background: rgba(255, 144, 14, 0.10);
}

/* -----------------------
    *** Header Styles *** 
-------------------------- */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.navigation h3 {
    color: #151313;
    font-size: 35px;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* Top Banner Styles */
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-bottom: 30px;
}

.brand-detail h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
}

.brand-detail p {
    padding: 20px 0;
}

.explore-more-btn {
    background: #FF900E;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.explore-more-btn a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
}

.banner-thumbnail img {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}


/* Feature Section styles */
.our-feature-container {
    margin: 70px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.feature-thumbnail-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px
}

.feature-thumbnail-group img {
    width: 342px;
    height: 342px;
}

.feature-detail h1 {
    font-size: 50px;
    line-height: 60px;
}

.feature-detail .quick {
    color: #757575;
}

.feature-detail .feature {
    color: #f58506;
}

.feature-detail p {
    padding: 20px;
}


/* Feature and Architect Section */
.architect-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.feature-description-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.feature-info-title h2 {
    border-left: 5px solid tomato;
    margin-top: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.feature-intro p{
    padding: 0px 130px 10px  17px;
}

.feature-info {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    border-radius: 5px;
    width: 450px;
    height: 100px;
}

.feature-info h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.architect-thumbnail img {
    width: 500px;
    height: 800px;
}

.experience {
    background-color: #FF900E;
    width: 265px;
    height: 160px;
    color: whitesmoke;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    bottom: 165px;
    left: 555px;
}

.experience h2 {
    font-size: 50px;
}

.experience em {
    font-size: 20px;
}

/* Some Facts Styes */
.facts-section {
    margin-top: -100px;
}

.facts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fact-intro {
    margin-bottom: 100px;
}

.fact-intro h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

.fact {
    border: 2px solid rgba(250, 128, 114, 0.77);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    width: 160px;
    height: 170px
}

.fact img {
    width: 45px;
    height: 45px;
}

.fact span {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0;
}

.fact p {
    color: #757575;
}

/* Sponsors Styles */
.sponsors-section {
    margin-top: 150px;
}

.sponsor-intro {
    text-align: center;
}

.sponsor-intro h1 {
    font-size: 60px;
    line-height: 85px;
}

.sponsor-intro p {
    padding-top: 20px;
}

.sponsors-logo-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

/* footer Styles*/
.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}